body {
  background-color: black;
}

h1 {
  color: white;
  font-weight: bold;
}

.logo {
  margin-right: 20px;
  height: 50px; /* you can adjust this according to your preference */
}

.header {
  display: flex;
  justify-content: space-between; /* this will keep the logo and mint button on opposite ends */
  align-items: center;
  padding: 10px 20px; /* this will give some padding on the top and sides */
}

.nft-card {
  width: 200px;
  height: 300px;
  background-color: #000000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 13px;
  padding: 13px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  perspective: 1000px; /* Enable 3D space for children */

}
.nft-card div {
  backface-visibility: hidden; /* Hide the back of the element */
  position: absolute; /* Position the front and back side at the same place */
  width: 100%;
  height: 100%;
  transition: transform 0.6s; /* Animate the transform property */
}

.nft-front {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-image: url("backside.png");
  background-size: cover; /* This makes the image cover the entire element */
  background-position: center; /* This centers the image in the element */
}

.nft-back {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 10px;
  padding: 3px;
  white-space: pre-wrap;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: rotateY(180deg); /* Rotate the back side by 180 degrees */
}

.nft-card.flipped .nft-front {
  transform: rotateY(180deg); /* Rotate the front side by 180 degrees when the card is flipped */
}

.nft-card.flipped .nft-back {
  transform: rotateY(0deg); /* Rotate the back side back to 0 degrees when the card is flipped */
}

.nft-back.rarity-1 {
  background-color: darkgrey;
}

.nft-back.special-shiny-1 {
  border: thick double #ececec;
  box-shadow: 0 0 10px #ececec;
}

.nft-back.rarity-2 {
  background-color: green;
}

.nft-back.special-shiny-2 {
  border: thick double #c1f880;
  box-shadow: 0 0 10px #c1f880;
}

.nft-back.rarity-3 {
  background-color: blue;
}

.nft-back.special-shiny-3 {
  border: thick double #0073ff;
  box-shadow: 0 0 10px #0073ff;
}

.nft-back.rarity-4 {
  background-color: purple;
}

.nft-back.special-shiny-4 {
  border: thick double #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}

.nft-back.rarity-5 {
  background-color: gold;
}

.nft-back.special-shiny-5 {
  border: thick double #fff200;
  box-shadow: 0 0 10px #fff200;
}

.nft-back.rarity-6 {
  background-color: red;
}

.nft-back.special-shiny-6 {
  border: thick double #f95959;
  box-shadow: 0 0 10px red;
}


#mint-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto; /* this will push the button to the right */
}

#mint-button:hover {
  background-color: #45a049;
}

#nft-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wallet-address {
  padding: 10px 20px;
  background-color: #222831;
  color: #ffffff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}
